body{
    background: rgba(255, 244, 216, 1);
    font-size: 34pt;
    font-weight: 500;
}
.mainDiv{
    font-family: 'Raleway', sans-serif;
    color: #333333;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1{
    text-align: left;
    font-size: 54pt;
    font-weight: 700;
}
h1 > strong{
    color: #333333;
    text-decoration: underline;
    text-decoration-color: rgb(138, 177, 250);
}
p > a{
    color: rgb(138, 177, 250);
    text-decoration: underline;
    text-decoration-color: rgb(138, 177, 250);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgba(156, 197, 161, 1);
}
footer{
    text-align: center;
    font-size: 24pt;
    font-weight: 200;
}
img{
    width: 100%;
    height: 100%;
}
.fab{
    padding: 20px;
    font-size: 38px;
    width: 42px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 15%;
}
.fab:hover {
    opacity: 0.7;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-linkedin-in {
    background: #007bb5;
    color: white;
}

@media screen and (min-device-width: 450px) {
    body{
        font-size: 16pt;
    }
    .mainDiv{
        margin-left: 550px;
        margin-right: 550px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    h1{
        font-size: 30pt;
    }
    footer{
        font-size: 12pt;
    }
    img{
        width: 400px;
        height: 400px;
    }
    .fab{
        font-size: 12pt;
        width: 17px;
        padding: 5px;
    }